<h1 align="Center">All jobs</h1>
<p>
  <%= link_to "Create a job", new_prejob_path, remote: true, class:"btn btn-primary", id: "create-job-link" %>
</p>
<p>Completed task</p>
<div id="complete-tasks">
  <%= render @complete_tasks %>
</div>

<p>Incomplete task</p>
<div id="incomplete-tasks">
  <%= render @incomplete_tasks %>
</div>
